### Example user template template
### Example user template

# IntelliJ project files

.idea/
*.iml
out
gen/
build.xml
ant.properties
proguard-project.txt
local.properties
README.md
project.properties
IHM/
.idea/workspace.xml